.mb-75 {
    margin-bottom: 75px;
}

.zone {
    margin-bottom: 40px;
}

.zone .store {
    margin-bottom: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.product-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}
.product-table td {
    border: none;
}

.product__image img {
    width: 70px;
}

.order-summary__section {
    margin-top: 20px;
}

.total-line-table {
    width: 100%;
}

.total-line-table .total-line__price {
    text-align: right;
    border: none;
}

.total-line-table .total-line-table__tbody {
    padding-bottom: 20px;
}

.bag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
}
.bag-header img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.bag-header h3 {
    margin: 0;
}

.bag-item {
    padding: 20px;
    display: flex;
    border-bottom: 2px solid black;
}

.bag-item__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.bag-item__top {
    display: flex;
    justify-content: space-between;
}

.bag-item__title {
    font-family: GilroyBold;
    width: 150px;
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 18px;
}

.bag-item__bottom {
    display: flex;
    justify-content: space-between;
}

.skill-plusminus-wrap.tiny .skill-minus{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.skill-plusminus-wrap.tiny .skill-plus{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.skill-plusminus-wrap.tiny input {
    height: 30px;
    width: 40px;
}

.bag-item__price {
    line-height: 30px;
    font-weight: 1000;
    font-family: GilroyBold;
}

.bag-item__thumbnail img {
    width: 70px;
    margin-right: 20px;
}

.bag-item__remove:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bag-subtotal {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.bag-subtotal__price {
    font-size: 20px;
    font-family: GilroyBold;
}

.bag-subtotal__title {
    line-height: 28px;
}

.bag-subtotal__price {
    font-weight: 1000;
} 

.bag-checkout {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-weight: 1000;
    font-size: 20px;
    font-family: GilroyBold;
}

.bag-checkout img {
    width: 25px;
    margin-bottom: 6px;
}

.bag-body {
    overflow-x: scroll;
    max-height: 70vh;
}

.my-bag-header img{
    width: 20px;
}

/* order summary */

.order-summary__order-id {
    font-size: 15px;
}

.order-summary__order-id span{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
}
.order-summary-section h4 {
    border-bottom: 1px solid black;
    margin-bottom: 18px;
}

.order-summary-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.order-summary-header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.order-summary-cart__item {
    display: flex;
    justify-content: space-between;
}

.order-summary-cart__address {
    margin-bottom: 20px;
}

.order-summary-cart__address p{
    margin-bottom: 2px;
}

.order-summary-cart__cost-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 10px;
}

.order-summary-cart__cost-hr {
    border-bottom: 1px solid black;
    width: 100px;
    float: right;
}

.order-summary-cart__cost-total {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 10px;
}

.order-summary__thanks-order {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .modal-product {
        display: flex;
        flex-direction: column;
    }
    
    .modal-product .product-images {
        float: none;
        width: 100%;
    }

    .modal-product .product-info {
        float: none;
        width: 100%;
        padding-left: 0;
    }

    .quick-add-to-cart .single_add_to_cart_button {
        padding: 0 17px;
    }

    .cart-stylei::before {
        display: none;
    }
}

/* .skill-long-text p {
    margin-bottom: 5px;
} */